@charset "UTF-8";

/* rest */
*{ margin:0;padding:0; box-sizing:inherit!important;}
ul { list-style:none;}	
img { max-width:100%; height:auto; margin:0px; }
p { margin:0px!important;}
h1 { font-size:20px!important;}

/* rest */

html {font-family:Arial, Helvetica, sans-serif; }
footer { clear: both; text-align: center;}

.navbar .container { height: 100px; }
.navbar .nav-title { float: left; padding-top: 20px;}
.navbar .shopcar { float: right; width: 100px; background-color: #F3F1F1; height: 100px; padding: 20px; text-align: right; }
.navbar .shopcar p { font-size: 14px;}

.navbar,.container .row { width:970px; margin:0 auto;  }
.container .row { width:970px; margin:0 auto; background-color:rgba(222, 219, 219, 0.19); height: 463px; clear: both; }
.container .row .col-md-4 { height: 200px; width: 323px; float: left; text-align: center; margin: 21px 0 0 0; }

